# Data Aggregation and Analysis

In [1]:
# Import library
import pandas as pd
import numpy as np

In [2]:
# Load the dataset from the provided URL
link = 'https://github.com/sabirinID/Commonwealth-Bank-Data-Science-Virtual-Internship/raw/main/Files/Task%201_Data%20Aggregation%20and%20Analysis/supermarket_transactions.xlsx'
data = pd.read_excel(link, index_col=0)

# Display the first few rows of the dataset
print(data.head())

                                     id           timestamp  quantity  \
0  47d54138-a950-4ec0-9d4a-e637e8dfb290 2022-04-28 09:11:00        10
1  dea298b1-26ca-4a43-bcef-4050fb74ce1d 2019-12-06 16:21:00         1
2  8dcd78f6-2e68-4fe3-9bb0-afe3bb2c3944 2019-06-22 15:27:00        10
3  261c100c-b121-44b7-bc03-787f396c2061 2020-08-16 18:14:00         8
4  7d025b4d-caac-40a5-b954-63cd7bd20f92 2019-11-12 15:46:00         1

                             product_id product_name  unit_price  \
0  56b274d1-b2a4-47be-abaf-6c1c7742beb9        wheat        0.39
1  56b274d1-b2a4-47be-abaf-6c1c7742beb9        wheat        0.39
2  56b274d1-b2a4-47be-abaf-6c1c7742beb9        wheat        0.39
3  56b274d1-b2a4-47be-abaf-6c1c7742beb9        wheat        0.39
4  56b274d1-b2a4-47be-abaf-6c1c7742beb9        wheat        0.39

   total_amount              store payment_method  \
0          3.90    South Billyview           cash
1          0.39       South Edward    contactless
2          3.90    South Billyview    contactless
3          3.12  South Michaelfurt    credit card
4          0.39    Christopherfurt           cash

                            customer_id customer_type
0  c2b9eddd-df8c-446a-ae34-50ad88f28e0a    non-member
1  134a3c2c-8ccc-494c-9916-a15ff10a9125        member
2  a310b698-4e34-4a4a-8c60-e72fad63f9ba          gold
3  0dfaced3-271c-4da0-80fc-fd3de4328bd5     corporate
4  b05efb3f-c38e-4b86-8366-32e42340a4dc          gold

In [3]:
# Display summary information about the dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 50783 entries, 0 to 50782
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              50783 non-null  object
 1   timestamp       50783 non-null  datetime64[ns]
 2   quantity        50783 non-null  int64
 3   product_id      50783 non-null  object
 4   product_name    50783 non-null  object
 5   unit_price      50783 non-null  float64
 6   total_amount    50783 non-null  float64
 7   store           50783 non-null  object
 8   payment_method  50783 non-null  object
 9   customer_id     50783 non-null  object
 10  customer_type   50783 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 4.6+ MB
None

## Answer the questions

### Question 1: Across locations, how many apples were purchased in cash?

To answer this question, we'll filter the dataset for transactions involving apples that were paid for in cash and then count the number of such transactions.

In [4]:
# Filter for transactions involving apples paid in cash
apples_cash = data[(data['product_name'] == 'apple') & (data['payment_method'] == 'cash')]

# Count the number of apples purchased in cash
num_apples_cash = apples_cash['quantity'].sum()
print(f"Number of apples purchased in cash: {num_apples_cash}")

Number of apples purchased in cash: 117

### Question 2: How much total cash was spent on these apples?

We'll sum the total cash spent on apples from the filtered dataset.

In [5]:
# Calculate the total cash spent on apples
total_cash_spent_apples = apples_cash['total_amount'].sum()
print(f"Total cash spent on apples: ${total_cash_spent_apples:.2f}")

Total cash spent on apples: $537.03

### Question 3: Across all payment methods, how much money was spent at the Bakershire store location by non-member customers?

We'll filter the dataset for transactions at the Bakershire store by non-member customers and sum the total money spent.

In [6]:
# Filter for transactions at the Bakershire store by non-member customers
bakershire_non_members = data[(data['store'] == 'Bakershire') & (data['customer_type'] == 'non-member')]

# Calculate the total money spent by non-member customers at the Bakershire store
total_spent_bakershire_non_members = bakershire_non_members['total_amount'].sum()
print(f"Total money spent by non-member customers at the Bakershire store: ${total_spent_bakershire_non_members:.2f}")

Total money spent by non-member customers at the Bakershire store: $2857.51